body {
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    max-width: 400px;
    display: grid;
    justify-content: center;
    background-color: rgb(250, 253, 255);
    padding: 20px;

}
.input-container {
    width: 95px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #297e21;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
    
}
.select-container {
    border-radius: 15px;
    border: 1px solid #297e21;
    border: none;
}
.form-container-class {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 10%;
}

.observaciones-container {
    width: 90%;
    border-radius: 12px;
    border: 1px solid transparent; /* Define un borde inicial transparente */
    outline: none; /* Elimina el contorno predeterminado al hacer focus */
    padding: 5px;
    overflow: hidden;
    resize: none;
    height: 50px;
    line-height: 1.5;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
}
.observaciones-container:focus {
    background-color: #F4FFC3;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
    }
    .observaciones-container:hover {
        background-color: #F4FFC3;
        box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
        }
.btnGeneral:focus {
    background-color: #97cef3;
    outline: none;
}
.btnGeneral:hover {
    background-color: #97cef3;
    outline: none;
}
.btnGeneral {
    width: 70px;
    background-color: #eeeda6;
    border: 1px solid transparent;
    padding: 3px 6px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #297e21;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s;
    
    }
input:hover {
    background-color: #F4FFC3;
}
input:focus {
    background-color: #F4FFC3;
    }
    select:hover {
        background-color: #F4FFC3;
        }
        select:focus {
            background-color: #F4FFC3;
            }
/* Estilos para los botones habilitados */
button:enabled {
    background-color: #007bff;
    color: white;
}

/* Estilos para los botones deshabilitados */
button:disabled {
    background-color: #ccc; /* Color gris para indicar que está deshabilitado */
    color: #666;           /* Texto más claro */
    cursor: not-allowed;   /* Cambiar el cursor a "prohibido" */
    opacity: 0.6;          /* Reducir opacidad */
}

.invisible {
    display: none;
}

.contador-tiempo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
}
